@import "tailwindcss";

@theme {
    --color-primary: #008060;
    --color-secondary: #00000066;
    --font-sans:
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
